In [1]:
ages= [1,2,3,4,5]

In [2]:
ages

[1, 2, 3, 4, 5]

In [4]:
len(ages)

5

In [5]:
"""the length of ages is 5"""

'the length of ages is 5'

In [9]:
a=1
b=2

In [11]:
ages

[1, 2, 3, 4, 5]

In [12]:
a+b

3

In [13]:
#a plus b equals 3

In [15]:
len('a')

1

In [18]:
a= [2,2]

In [19]:
len('a')

1

In [20]:
a

[2, 2]

In [21]:
a= 'a', 2

In [22]:
a

('a', 2)

In [23]:
len('a')

1

In [25]:
a

('a', 2)

In [27]:
a= ['a', 2, "Ferarri"]

In [28]:
a

['a', 2, 'Ferarri']

In [29]:
len('a')

1

In [30]:
b

2

In [31]:
a

['a', 2, 'Ferarri']

In [32]:
print('a')

a

In [33]:
print("a")

a

In [34]:
print("break")

break

In [9]:
#creating a function

def Fun1():
    print("hello")
    """prints the function hello"""

In [10]:
Fun1()

hello

In [19]:
#creating a math function

def Fun2(a):
    b=a+2
    return b
"""returns the math function"""

'returns the math function'

In [20]:
Fun2(1)

3

In [21]:
zero=[1,3,4]

In [24]:
0==1

False

In [25]:
zero[0]

1

In [26]:
zero==[2]

False

In [27]:
zero[0]=3

In [28]:
zero

[3, 3, 4]

In [17]:
#printing a range

for i in range(0,4):
    print(i)

0
1
2
3

In [22]:
for x in range(0,100):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [28]:
age= [1,2,3,4,5],[5,4,3,2,1]

2

In [35]:
age

([1, 2, 3, 4, 5], [5, 4, 3, 2, 1])

In [47]:
#using elif statements/ else/ if

L= 1
K= 100

if L < K:
    print("its less")
elif L==100:
    print("equal")
else:
    print("greater")

its less

In [71]:
#appending boy names

boy_names= ['matt', 'chris']
girl_names= ['sierra', 'danielle']

boy_names.append('david')
print('new_boy_names', boy_names)

new_boy_names ['matt', 'chris', 'david']

In [73]:
boy_names

['matt', 'chris', 'david']

In [82]:
#listing

new_list = list((boy_names))
print(len(new_list))
print(type(new_list))

3
<class 'list'>

In [83]:
#printing the sum of x

x=(1,2,3,4,5)
print(sum(x))

15